.*
*.zip
*.tar
*.out
*.log
/bin/
/tmp/

## Git
!.gitkeep
!.gitignore

## GitHub
!.github/

## Editorconfig
!.editorconfig

## Husky
!.husky/
!.husky.yaml

## Ownbrew
!.ownbrew.yaml

## Golang
!.golangci.yml
!.goreleaser.yml
